<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>Cognito</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-west-2</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-west-2:791da0ce-1ecc-4c1d-a427-eafa0d6c4d6f</string>
					<key>Region</key>
					<string>us-west-2</string>
				</dict>
			</dict>
		</dict>
		<key>DynamoDBObjectMapper</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-west-1</string>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub 05e0cdda-2625-4fd6-906c-afc4a8132c91 aws-my-sample-app-ios-objc-v0.15</string>
		</dict>
		<key>PushManager</key>
		<dict>
			<key>Devo</key>
			<dict>
				<key>Region</key>
				<string>us-west-1</string>
				<key>SNSConfiguredTopics</key>
				<array>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_alldevices_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_kairos_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_general_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_karisma_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_joyfulboard_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_prayerman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_prayerwoman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_coffeebreakwoman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_youtheducation_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_praiseteam_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_missionsummer_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_missionwinter_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_smallgroupleader_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_departmentleader_MOBILEHUB_687604833</string>
				</array>
				<key>SNSPlatformApplicationARN</key>
				<string>arn:aws:sns:us-west-1:115981409113:app/APNS_SANDBOX/joyfulchurch_MOBILEHUB_687604833</string>
			</dict>
			<key>Prod</key>
			<dict>
				<key>Region</key>
				<string>us-west-1</string>
				<key>SNSConfiguredTopics</key>
				<array>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_alldevices_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_kairos_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_general_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_karisma_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_sermon_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_joyfulboard_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_prayerman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_prayerwoman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_coffeebreakwoman_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_youtheducation_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_praiseteam_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_missionsummer_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_missionwinter_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_smallgroupleader_MOBILEHUB_687604833</string>
					<string>arn:aws:sns:us-west-1:115981409113:joyfulchurch_departmentleader_MOBILEHUB_687604833</string>
				</array>
				<key>SNSPlatformApplicationARN</key>
				<string>arn:aws:sns:us-west-1:115981409113:app/APNS/joyfulchurch_MOBILEHUB_687604833</string>
			</dict>
		</dict>
		<key>UserFileManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-west-1</string>
				<key>S3Bucket</key>
				<string>joyfulchurch-userfiles-mobilehub-687604833</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Joyful Church</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>cloudfront.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To select a file to upload.</string>
	<key>UIAppFonts</key>
	<array>
		<string>THEJUNG_bold_130.otf</string>
		<string>THEJUNG_bold_140.otf</string>
		<string>THEJUNG_regular_120.otf</string>
		<string>THEJUNG_thin_110.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
    </array>
</dict>
</plist>
